<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 2</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 2</h3>

                <h4>Summary</h4>
<p>When the explorers return, Ralph sounds the conch shell,
summoning the boys to another meeting on the beach. He tells the
group that there are no adults on the island and that they need
to organize a few things to look after themselves. Jack reminds
Ralph of the pig they found trapped in the vines in the jungle,
and Ralph agrees that they will need hunters to kill animals for
meat. Ralph declares that, at meetings, the conch shell will be
used to determine which boy has the right to speak. Whoever holds
the conch shell will speak, and the others will listen silently
until they receive the shell in their turn. Jack agrees with this
idea.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>Piggy yells about the fact that no one knows they have
crashed on the island and that they could be stuck there for a long
time. The prospect of being stranded for a long period is too harrowing
for many of the boys, and the entire group becomes silent and scared. One
of the younger children, a small boy with a mulberry-colored mark
on his face, claims that he saw a snakelike &ldquo;beastie&rdquo; or monster
the night before. A wave of fear ripples through the group at the
idea that a monster might be prowling the island. Though they are
frightened, the older boys try to reassure the group that there
is no monster. The older boys say that the little boy&rsquo;s vision was
only a nightmare.</p>
<p>Thinking about the possibility of rescue, Ralph proposes
that the group build a large signal fire on top of the island&rsquo;s
central mountain, so that any passing ships might see the
fire and know that someone is trapped on the island. Excited by
the thought, the boys rush off to the mountain, while
Ralph and Piggy lag behind. Piggy continues to whine about the childishness
and stupidity of the group.</p>
<p>The boys collect a mound of dead wood and use the lenses
from Piggy&rsquo;s glasses to focus the sunlight and set the wood on fire.
They manage to get a large fire going, but it quickly dies down.
Piggy angrily declares that the boys need to act more proficiently
if they want to get off the island, but his words carry little weight.
Jack volunteers his group of hunters to be responsible for keeping
the signal fire going. In their frenzied, disorganized efforts to
rekindle the fire, the boys set a swath of trees ablaze. Enraged
at the group&rsquo;s reckless disorganization, Piggy tells them furiously
that one of the littlest boys&mdash;the same boy who told them about the
snake-beast&mdash;was playing over by the fire and now is missing. The
boys are crestfallen and shocked, and Ralph is struck with shame.
They pretend that nothing has happened.</p>
            

                <h4>Analysis</h4>
<p>The conflict between the instincts of civilization and
savagery emerges quickly within the group: the boys, especially
Piggy, know that they must act with order and forethought if they
are to be rescued, but the longer they remain apart from the society
of adults, the more difficult it becomes for them to adhere to the
disciplined behavior of civilization. In Chapter <span class="small-caps">1</span>,
the boys seem determined to re-create the society they have lost,
but as early as Chapter <span class="small-caps">2,</span> their instinctive
drive to play and gratify their immediate desires undermines their
ability to act collectively. As a result, the signal fire nearly
fails, and a young boy apparently burns to death when the forest
catches fire. The constraints of society still linger around the boys,
who are confused and ashamed when they learn the young boy is missing&mdash;a
sign that a sense of morality still guides their behavior at this
point.</p>
<p>Golding&rsquo;s portrayals of the main characters among the
group of boys contributes to the allegorical quality of <i>Lord
of the Flies, </i>as several of the boys stand for larger concepts.
Ralph, the protagonist of the novel, stands for civilization, morality,
and leadership, while Jack, the antagonist, stands for the desire
for power, selfishness, and amorality. Piggy represents the scientific
and intellectual aspects of civilization, as his glasses&mdash;a symbol
of rationality and intellect&mdash;enable the boys to light fires. Already
the boys&rsquo; savage instincts lead them to value strength and charisma
above intelligence: although Piggy has a great deal to
offer the boys&rsquo; fledgling civilization, they see him as a whiny
weakling and therefore despise him and refuse to listen to him,
even when his ideas are good. For instance, when Piggy suggests that
the boys find a way to improve their chances of being rescued, they ignore
him; only when the stronger and more charismatic Ralph suggests
the same thing do they agree to make the signal fire.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>Apart from the boys themselves, the signal fire and the
&ldquo;beastie&rdquo; also carry symbolic significance. The signal fire serves
as a barometer for the boys&rsquo; interest in maintaining ties to civilization:
as long as it burns, they retain some hope that they will be rescued
and returned to society, but as they become increasingly obsessed
with power and killing, they lose interest in the fire. When the
fire ultimately burns out, the boys&rsquo; disconnection from the structures
of society is complete. Meanwhile, the beast the young boy claims
to have seen also emerges as an important symbol in the novel. At
this point, the beast is merely an idea that frightens some of the
boys. But as the novel progresses, all the boys tacitly accept the
beast&rsquo;s existence. The beast comes to represent the instincts of
power, violence, and savagery that lurk within each human being.</p>
            

</body>
</html>
