<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 1</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 1</h3>

                <h4>Summary</h4>
<p>A fair-haired boy lowers himself down some rocks toward
a lagoon on a beach. At the lagoon, he encounters another boy, who
is chubby, intellectual, and wears thick glasses. The fair-haired
boy introduces himself as Ralph and the chubby one introduces himself as
Piggy. Through their conversation, we learn that in the midst of
a war, a transport plane carrying a group of English boys was shot down
over the ocean. It crashed in thick jungle on a deserted island. Scattered
by the wreck, the surviving boys lost each other and cannot find
the pilot.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>Ralph and Piggy look around the beach, wondering what
has become of the other boys from the plane. They discover a large
pink and cream-colored conch shell, which Piggy realizes could
be used as a kind of makeshift trumpet. He convinces Ralph to blow through
the shell to find the other boys. Summoned by the blast of sound
from the shell, boys start to straggle onto the beach. The oldest
among them are around twelve; the youngest are around six. Among
the group is a boys&rsquo; choir, dressed in black gowns and led by an
older boy named Jack. They march to the beach in two parallel lines,
and Jack snaps at them to stand at attention. The boys taunt Piggy
and mock his appearance and nickname. </p>
<p>The boys decide to elect a leader. The choirboys vote
for Jack, but all the other boys vote for Ralph. Ralph wins the
vote, although Jack clearly wants the position. To placate Jack,
Ralph asks the choir to serve as the hunters for the band of boys
and asks Jack to lead them. Mindful of the need to explore their
new environment, Ralph chooses Jack and a choir member named
Simon to explore the island, ignoring Piggy&rsquo;s whining requests to
be picked. The three explorers leave the meeting place and set off
across the island.</p>
<p>The prospect of exploring the island exhilarates the boys,
who feel a bond forming among them as they play together in the
jungle. Eventually, they reach the end of the jungle, where high,
sharp rocks jut toward steep mountains. The boys climb up the side
of one of the steep hills. From the peak, they can see that they
are on an island with no signs of civilization. The view is stunning,
and Ralph feels as though they have discovered their own land. As
they travel back toward the beach, they find a wild pig caught in
a tangle of vines. Jack, the newly appointed hunter, draws his knife
and steps in to kill it, but hesitates, unable to bring himself
to act. The pig frees itself and runs away, and Jack vows that the
next time he will not flinch from the act of killing. The three
boys make a long trek through dense jungle and eventually emerge
near the group of boys waiting for them on the beach.</p>
            

                <h4>Analysis</h4>
<p>
                    <i>Lord of the Flies</i> dramatizes the conflict
between the civilizing instinct and the barbarizing instinct that
exist in all human beings. The artistic choices Golding makes in
the novel are designed to emphasize the struggle between the ordering
elements of society, which include morality, law, and culture, and
the chaotic elements of humanity&rsquo;s savage animal instincts, which
include anarchy, bloodlust, the desire for power, amorality, selfishness,
and violence. Over the course of the novel, Golding portrays the
rise and swift fall of an isolated, makeshift civilization, which
is torn to pieces by the savage instincts of those who compose
it.</p>
<p>In this first chapter, Golding establishes the parameters
within which this civilization functions. To begin with, it is populated solely
with boys&mdash;the group of young English schoolboys shot down over the
tropical island where the novel takes place. The fact that the characters
are only boys is significant: the young boys are only half formed,
perched between civilization and savagery and thus embodying the
novel&rsquo;s central conflict. Throughout the novel, Golding&rsquo;s foundation
is the idea that moral and societal constraints are learned rather
than innate&mdash;that the human tendency to obey rules, behave peacefully,
and follow orders is imposed by a system that is not in itself a
fundamental part of human nature. Young boys are a fitting illustration
of this premise, for they live in a constant state of tension with
regard to the rules and regulations they are expected to follow.
Left to their own devices, they often behave with instinctive cruelty
and violence. In this regard, the civilization established in <i>Lord
of the Flies</i>&mdash;a product of preadolescent boys&rsquo; social instincts&mdash;seems
endangered from the beginning.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>In Chapter <span class="small-caps">1</span>, the boys, still unsure
of how to behave with no adult presence overseeing them, largely
stick to the learned behaviors of civilization and order. They attempt
to re-create the structures of society on their deserted island:
they elect a leader, establish a division of labor, and set about
systematically exploring the island. But even at this early stage,
we see the danger that the boys&rsquo; innate instincts pose to their
civilization: the boys cruelly taunt Piggy, and Jack displays a
ferocious desire to be elected the group&rsquo;s leader.</p>
<p>Throughout <i>Lord of the Flies, </i>Golding makes heavy use of symbols to present the themes and dramatic
conflicts of the novel. In this chapter, for instance, Golding introduces
the bespectacled Piggy as a representative of the scientific and
intellectual aspects of civilization. Piggy thinks critically about
the conch shell and determines a productive use for it&mdash;summoning the
other boys to the beach. The conch shell itself is one of the most
important symbols in the novel. The conch shell represents law,
order, and political legitimacy, as it summons the boys from their
scattered positions on the island and grants its holder the right
to speak in front of the group. Later in the novel, Golding sharply
contrasts the conch shell with another natural object&mdash;the sinister
pig&rsquo;s head known as the Lord of the Flies, which comes to symbolize
primordial chaos and terror.</p>
            

</body>
</html>
