<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 3</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 3</h3>

                <h4>Summary</h4>
<p>Carrying a stick sharpened into a makeshift spear, Jack
trails a pig through the thick jungle, but it evades him. Irritated,
he walks back to the beach, where he finds Ralph and Simon at work
building huts for the younger boys to live in. Ralph is irritated
because the huts keep falling down before they are completed and
because, though the huts are vital to the boys&rsquo; ability to live
on the island, none of the other boys besides Simon will help him.
As Ralph and Simon work, most of the other boys splash about and
play in the lagoon. Ralph gripes that few of the boys are doing
any work. He says that all the boys act excited and energized by
the plans they make at meetings, but none of them is willing to
work to make the plans successful. Ralph points out that Jack&rsquo;s
hunters have failed to catch a single pig. Jack claims that although
they have so far failed to bring down a pig, they will soon have
more success. Ralph also worries about the smaller children, many
of whom have nightmares and are unable to sleep. He tells Jack about
his concerns, but Jack, still trying to think of ways to kill a
pig, is not interested in Ralph&rsquo;s problems.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>Ralph, annoyed that Jack, like all the other boys, is
unwilling to work on the huts, implies that Jack and the hunters
are using their hunting duties as an excuse to avoid the real work.
Jack responds to Ralph&rsquo;s complaints by commenting that the boys
want meat. Jack and Ralph continue to bicker and grow increasingly
hostile toward each other. Hoping to regain their sense of camaraderie,
they go swimming together in the lagoon, but their feelings of mutual
dislike remain and fester.</p>
<p>In the meantime, Simon wanders through the jungle alone.
He helps some of the younger boys&mdash;whom the older boys have started to
call &ldquo;littluns&rdquo;&mdash;reach fruit hanging from a high branch. He walks deeper
into the forest and eventually finds a thick jungle glade, a peaceful,
beautiful open space full of flowers, birds, and butterflies. Simon
looks around to make sure that he is alone, then sits down to take
in the scene, marveling at the abundance and beauty of life that surrounds
him.</p>
            

                <h4>Analysis</h4>
<p>The personal conflict between Ralph and Jack mirrors the
overarching thematic conflict of the novel. The conflict between
the two boys brews as early as the election in Chapter <span class="small-caps">1</span> but
remains hidden beneath the surface, masked by the camaraderie the
boys feel as they work together to build a community. In this chapter,
however, the conflict erupts into verbal argument for the first
time, making apparent the divisions undermining the boys&rsquo; community
and setting the stage for further, more violent developments. As
Ralph and Jack argue, each boy tries to give voice to his basic
conception of human purpose: Ralph advocates building huts,
while Jack champions hunting. Ralph, who thinks about the overall
good of the group, deems hunting frivolous. Jack, drawn to the exhilaration
of hunting by his bloodlust and desire for power, has no interest
in building huts and no concern for what Ralph thinks. But because
Ralph and Jack are merely children, they are unable to state their
feelings articulately.</p>
<p>At this point in the novel, the conflict between civilization
and savagery is still heavily tilted in favor of civilization. Jack,
who has no real interest in the welfare of the group, is forced
to justify his desire to hunt rather than build huts by claiming
that it is for the good of all the boys. Additionally, though most
of the boys are more interested in play than in work, they continue
to re-create the basic structures of civilization on the island.
They even begin to develop their own language, calling the younger
children &ldquo;littluns&rdquo; and the twins Sam and Eric &ldquo;Samneric.&rdquo;</p>
<p>Simon, meanwhile, seems to exist outside the conflict
between Ralph and Jack, between civilization and savagery. We see
Simon&rsquo;s kind and generous nature through his actions in this chapter.
He helps Ralph build the huts when the other boys would rather play, indicating
his helpfulness, discipline, and dedication to the common good.
Simon helps the littluns reach a high branch of fruit, indicating
his kindness and sympathy&mdash;a sharp contrast to many of the older
boys, who would rather torment the littluns than help them. When
Simon sits alone in the jungle glade marveling at the beauty of nature,
we see that he feels a basic connection with the natural world. On
the whole, Simon seems to have a basic goodness and kindness that
comes from within him and is tied to his connection with nature.
All the other boys, meanwhile, seem to have inherited their ideas
of goodness and morality from the external forces of civilization, so
that the longer they are away from human society, the more their moral
sense erodes. In this regard, Simon emerges as an important figure
to contrast with Ralph and Jack. Where Ralph represents the orderly
forces of civilization and Jack the primal, instinctual urges that react
against such order, Simon represents a third quality&mdash;a kind of goodness
that is natural or innate rather than taught by human society. In
this way, Simon, who cannot be categorized with the other boys, complicates
the symbolic structure of <i>Lord of the Flies.</i>
                </p>
            

</body>
</html>
