<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 2</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 2</h3>

                <h4>Summary</h4>
		<p>
		Quisque sem lacus, tempor vitae commodo et, rhoncus adipiscing diam. In erat enim, sollicitudin dapibus imperdiet non, lacinia et lorem. Mauris sit amet laoreet lorem. Quisque nec purus magna, ac viverra turpis. Fusce pharetra tincidunt neque quis ornare. Nulla facilisi. Nam ultrices blandit elit, non pretium dolor aliquet a. Nam est erat, suscipit id convallis nec, mollis at orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
		</p>
            

</body>
</html>
